---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import Chart from "../components/Chart.astro";
import Player from "../components/Player.svelte";

import group1 from "../images/DSC04995-Edit.jpg";

const collection = "epk";
const allPosts = await getCollection(collection); // we ignore this for now

const streamingLinks = {
  Spotify:
    "https://open.spotify.com/artist/5UAITt0KoASPqmtWm1Tphl?si=saegrrT9Q8mnWcohWcjtvw",
  Soundcloud: "https://soundcloud.com/westofeden-music",
  "Apple Music": "https://music.apple.com/us/artist/west-of-eden/1728708854",
};
const socialLinks = {
  Tiktok: "https://www.tiktok.com/@wstofedn",
  Instagram: "https://www.instagram.com/wstofedn/",
  Youtube: "https://www.youtube.com/@WESTOFEDEN-collective",
  Twitter: "https://twitter.com/wstofedn",
};

const genderSplit = {
  male: "56%",
  female: "39%",
  "nonbinary +unspecified": "5%",
};
const ageRange = {
  "<18": "6%",
  "18-22": "33%",
  "23-27": "34%",
  "28-34": "17%",
  "35+": "10%",
};
---

<Layout title="West of Eden">
  <section id="top">
    <div
      class="tableofcontent flex justify-between text-xl gap-2 mt-2 relative z-20"
    >
      <p class="link">
        <Link href={"#photos"}>Photos</Link>
      </p>

      <svg
        fill="none"
        height="2em"
        class="-mb-4"
        viewBox="0 0 25 27"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m15.681 26.2c-0.1304-0.0525-0.3202-0.2557-0.4218-0.4516-0.214-0.4126-0.4735-1.671-0.4739-2.2979-1e-4 -0.2373-0.1164-0.9169-0.2585-1.5103-0.4304-1.7978-0.5461-2.6531-0.3737-2.7623 0.3478-0.2203 0.5597-0.0698 0.776 0.5509 0.4114 1.1804 0.7085 1.9278 0.9771 2.4578 0.3493 0.6892 1.016 1.7625 1.1872 1.9111 0.3698 0.3212 0.6046 0.7623 0.6046 1.1361 0 0.3294-0.0718 0.4687-0.3813 0.7406-0.3153 0.2768-0.4695 0.3336-0.89 0.3279-0.2798-0.0037-0.6153-0.0498-0.7457-0.1023zm-2.0737-8.6627c-0.2416-0.5637-0.6558-2.1285-0.6558-2.4778 0-0.1387-0.1008-0.3604-0.2241-0.4927-0.2507-0.2691-0.3129-0.2681-2.8503 0.0459-3.1382 0.3884-3.5916 0.4859-5.7713 1.2419-0.90768 0.3148-1.1566 0.3556-2.1777 0.3577-1.3472 0.0027-1.5991-0.1216-1.5963-0.7882 0.003262-0.7632 0.21126-0.8368 2.6206-0.9277 0.96064-0.0362 2.232-0.132 2.8254-0.2129 0.59331-0.0809 1.5399-0.2041 2.1036-0.2738 0.56364-0.0697 1.4064-0.1949 1.8727-0.2782 0.46635-0.0833 1.1732-0.1515 1.5706-0.1515 0.4297 0 0.8018-0.058 0.9181-0.143 0.1873-0.137 0.1879-0.1811 0.0123-1.0518-0.471-2.3362-0.6882-3.2515-0.9838-4.145-0.2412-0.72914-0.3788-2.1525-0.2451-2.5359 0.1937-0.55551 0.9612-0.72265 1.3584-0.29579 0.2928 0.31477 0.3242 0.54502 0.4598 3.3711 0.1167 2.4305 0.2488 3.6562 0.4505 4.1801 0.1075 0.279 0.1536 0.2966 0.7754 0.2963 0.3636-2e-4 1.0737-0.0676 1.578-0.1498 0.5044-0.0821 1.4024-0.2069 1.9957-0.2773 0.5933-0.0703 1.4428-0.1929 1.8878-0.2724s1.2702-0.2253 1.8339-0.3239c0.5636-0.0986 1.3032-0.2485 1.6434-0.3329 0.8438-0.2095 1.1314-0.1954 1.2692 0.0622 0.1511 0.2824-0.0361 0.6472-0.3322 0.6472-0.1192 0-0.518 0.0692-0.8862 0.1537-0.9893 0.2272-2.1885 0.4617-3.0426 0.5951-0.4154 0.0648-1.1678 0.1861-1.6721 0.2694s-1.6694 0.2339-2.589 0.3347c-0.9196 0.1007-1.7327 0.2001-1.8069 0.2208-0.2151 0.0601-0.1569 0.869 0.1391 1.9322 0.3941 1.4158 0.4312 1.6771 0.2544 1.7891-0.3246 0.2055-0.5352 0.1005-0.7355-0.3668zm-2.6922-13.618c-0.5099-0.42907-0.6874-0.85346-0.6874-1.6436 0-0.9201 0.2303-1.2505 0.9029-1.2955 0.4136-0.027647 0.5192 0.012537 0.7982 0.3036 0.2987 0.31168 0.3241 0.40256 0.3586 1.2817 0.0339 0.86771 0.016 0.9697-0.2158 1.2296-0.3849 0.4314-0.7454 0.47013-1.1565 0.12422z"
          fill="currentColor"></path>
      </svg>

      <p class="link">
        <Link href={"#about"}>Contact</Link>
      </p>
    </div>
    <h1 class="title z-10 relative">
      <i>West of Eden</i>
    </h1>
    <Image src={group1} alt="A bird." class="w-full mb-2" />
    <h2 class="inline-flex w-full justify-between font-bold text-6xl">
      <b>Press</b><b>Kit</b>
    </h2>
  </section>

  <Player client:load />

  <section id="about" class="">
    <h2 class="subheading">About</h2>
    <p class="font-serif text-xl indent-12">
      WEST OF EDEN is a music collective based in Seattle, Washington with a
      focus on RNB and Indie Pop music. Made up of vocalists, riensu, slone,
      jun.e, keanu., wil, and yoku, alongside in-house producers, videographers
      and graphic artists.
    </p>

    <div
      class="grid grid-cols-2 md:grid-cols-3 text-xl gap-2 mt-2 text-lg mb-6"
    >
      <div>
        <h3 class="font-serif italic text-2xl">Streaming</h3>
        {
          Object.entries(streamingLinks).map(([key, href]) => (
            <p class="link">
              <Link href={href}>{key}</Link>
            </p>
          ))
        }
      </div>
      <div>
        <h3 class="font-serif italic text-2xl">Socials</h3>
        {
          Object.entries(socialLinks).map(([key, href]) => (
            <p class="link">
              <Link href={href}>{key}</Link>
            </p>
          ))
        }
      </div>
      <div>
        <h3 class="font-serif italic text-2xl">Contact</h3>
        <a href="mailto:woecollective@gmail.com"
          ><p>woecollective@gmail.com</p></a
        >
        <a href="mailto:himynameisjun.3@gmail.com"
          ><p>himynameisjun.3@gmail.com</p></a
        >
        <p class="invisible" aria-hidden>*</p>
        <p class="">
          <a class="link" href="/WOETechRider.pdf" target="_blank">Tech Rider</a
          >
        </p>
      </div>
    </div>
  </section>
  <section class="bg-bg text-fg mt-2 pb-2 pt-2 border-y-2 border-fg" style="">
    <h2 class="text-center font-serif text-4xl mb-3">
      <i>Demographics</i>
    </h2>
    <h3>Top Countries</h3>
    <div class="grid grid-cols-2 md:grid-cols-4 text-2xl font-serif mb-4">
      <p>1. USA</p>
      <p>2. Finland</p>
      <p>3. Japan</p>
      <p>4. Taiwan</p>
    </div>
    <Chart title="Gender Split" data={genderSplit} />
    <Chart title="Age Range" data={ageRange} />
  </section>
  <section>
    <h2 class="subheading" id="mv">MV</h2>
    <YouTube id="osAEtwyeWC0" />
  </section>
</Layout>

<style lang="postcss">
    section {
        @apply px-4 max-w-xl mx-auto;
    }
    .title {
        @apply text-[30vmin] md:text-[11rem] font-serif tracking-tight leading-[0.85] text-center;
        @apply -ml-[0.2em];
    }
    .tableofcontent .link:nth-child(2n) {
        @apply justify-self-end;
    }
    :global(.link) {
        @apply underline hover:text-bg hover:bg-fg w-fit;
    }
    .subheading {
        @apply font-bold text-4xl text-center mt-4;
    }
   
</style>
