---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  colors?: {
    fg?: string;
    bg?: string;
  };
}
const description =
  "WEST OF EDEN is a music collective based in Seattle, Washington with a focus on RNB and Indie Pop music. Made up of vocalists, riensu, slone, jun.e, keanu., and yoku, alongside in-house producers, videographers and graphic artists. ";

const { title, colors } = Astro.props;

//  the extra lines at the bottom is because you need to redefine variables for it take affect ..?
// doesnt cascade it seems
const colorfg = colors?.fg ? `--c-light: ${colors.fg};` : "";
const colorbg = colors?.bg ? `--c-dark: ${colors.bg};` : "";
const colorsStyles = colorfg + colorbg;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="og:description" content={description} />
    <meta name="og:title" content={title} />

    <meta
      property="og:image"
      content=`${import.meta.env.SITE}/socials_preview.jpg`
    />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body style={colorsStyles}>
    <slot />
    <Footer />
  </body>
</html>
<style is:global lang="postcss">
  @font-face {
    font-family: "XCharter";
    src: 
      url("/fonts/xcharter_regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "XCharter";
    src: 
      url("/fonts/xcharter_italic.woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Archivo Narrow";
    src: 
      url("/fonts/ArchivoNarrow-SemiBold.woff2");
    font-display: swap;
  }
  p,h1,h2,h3,h4 {
    @apply tracking-tight;
  }
  :root {
    --c-light: #F4F4F4;
    --c-dark: #423229;

    /* // abstraction to allow flipping colors */
    --c-bg: var(--c-light);
    --c-fg: var(--c-dark);
  }
html,body {
  scroll-behavior: smooth;

}
  body {
    --c-bg: var(--c-light); 
    --c-fg: var(--c-dark);
    @apply bg-bg text-fg font-sans;
  }
</style>
